FLOW1.txt
[
    {
        "id": "5fc042c2.16a76c",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "8f876e8a.f359d",
        "type": "rpi-gpio out",
        "z": "5fc042c2.16a76c",
        "name": "Green LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "cf319c5f.9a535",
        "type": "debug",
        "z": "5fc042c2.16a76c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "46101a7.ce7c1e4",
        "type": "rpi-gpio in",
        "z": "5fc042c2.16a76c",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "f4a33080.f1641",
                "cf319c5f.9a535"
            ]
        ]
    },
    {
        "id": "f4a33080.f1641",
        "type": "switch",
        "z": "5fc042c2.16a76c",
        "name": "If input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "9e197cd.b3e5a8"
            ],
            [
                "3a214280.8bc48e"
            ]
        ]
    },
    {
        "id": "9e197cd.b3e5a8",
        "type": "change",
        "z": "5fc042c2.16a76c",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "8f876e8a.f359d"
            ]
        ]
    },
    {
        "id": "3a214280.8bc48e",
        "type": "change",
        "z": "5fc042c2.16a76c",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "8f876e8a.f359d"
            ]
        ]
    }
]